<div class="card">
    <div class="card-header">
        <h3 style="text-align: center;">{{title}}</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Year of Birth</th>
                    <th scope="col">Image</th>
                    <th scope="col" *ngIf="authService.loggedIn()">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors">
                    <th scope="row">&#8226;</th>
                    <td>{{author.authorName}}</td>
                    <td>{{author.yearOfBirth}}</td>
                    <td><img [style.width.px]='imageWidth' [style.margin.px]='imageMargin' [src]='author.image' alt=""></td>
                    <td><span class="edit" *ngIf="authService.loggedIn()">
                        <button class="btn btn-warning" (click)="editAuthor(author)">Edit</button>
                        </span>
                    <span class="delete" *ngIf="authService.loggedIn()">
                            <button class="btn btn-danger m-1" (click)="deleteAuthor(author)">Delete</button>
                        </span>
                </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>